---
  title: Kyoto
  slug: '2017/kyoto'
  subtitle: Shrines, sights, and snow
  body_classes: page-photoessays
  meta_description: Shrines, sights, and snow
  meta_keywords:
  trip:
    location: japan
    weather: winter
    arrival: shinkansen
    departure: shinkansen
    steps: 98565
    photos: 1889
    km: 71.3
    dates:
      from: 2017-01-15
      to: 2017-01-19
  ogp:
    og:
      title: Kyoto
      description: Shrines, sights, and snow
      image:
        '': http://brett.cool/images/photoessays/2017/kyoto/og.jpg
        type: image/jpg
        width: 560
        height: 300
    fb:
      title: Kyoto
      description: Shrines, sights, and snow
      image:
        '': http://brett.cool/images/photoessays/2017/kyoto/fb.jpg
        type: image/jpg
        width: 600
        height: 315
---

= partial("photoessays/components/breadcrumb")

= partial("photoessays/components/banner", locals: {slug: current_page.data.slug, title: current_page.data.title, subtitle: current_page.data.subtitle, trip: current_page.data.trip})

.Page
  .Content
    .Content_photoessays.Row
      - data.kyoto.dates.each do | date |
        = partial("photoessays/components/day_card", locals: { date: date, essay_slug: current_page.data.slug})
