---
  title: Localhost Deployment
  slug: '2017/localhost'
  subtitle: 4 Speakers, 4 Cities, 4 Days
  body_classes: page-photoessays
  meta_description: 4 Speakers, 4 Cities, 4 Days
  meta_keywords: australia, perth, melbourne, sydney, brisbane, travel, speaking, photography, photoessay
  trip:
    location: australia
    weather: winter
    arrival: plane
    departure: plane
    steps: 29818
    photos: 797
    km: 21.5
    dates:
      from: 2017-06-06
      to: 2017-06-10
---

- @og_image_override = 'photoessays/2017/localhost'

= partial("photoessays/components/breadcrumb")

= partial("photoessays/components/banner", locals: {slug: current_page.data.slug, title: current_page.data.title, subtitle: current_page.data.subtitle, trip: current_page.data.trip})

.Page
  .Content
    .Content_photoessays#story.Content_photoessays.Row
      - data.localhost.dates.each do | date |
        = partial("photoessays/components/day_card", locals: { date: date, essay_slug: current_page.data.slug})
