---
  title: Tokyo
  slug: '2017/tokyo'
  subtitle: A city with unparalleled scale
  body_classes: page-photoessays
  meta_description: A city with unparalleled scale
  meta_keywords:
  trip:
    location: japan
    weather: winter
    arrival: plane
    departure: shinkansen
    steps: 160489
    photos: 2795
    km: 119.4
    dates:
      from: 2017-01-07
      to: 2017-01-15
  ogp:
    og:
      title: Tokyo 2017
      description: A city with unparalleled scale
      image:
        '': http://brett.cool/images/photoessays/2017/tokyo/og.jpg
        type: image/jpg
        width: 560
        height: 300
    fb:
      title: Tokyo 2017
      description: A city with unparalleled scale
      image:
        '': http://brett.cool/images/photoessays/2017/tokyo/fb.jpg
        type: image/jpg
        width: 600
        height: 315
---

= partial("photoessays/components/breadcrumb")

= partial("photoessays/components/banner", locals: {slug: current_page.data.slug, title: current_page.data.title, subtitle: current_page.data.subtitle, trip: current_page.data.trip})

.Page
  .Content
    .Content_photoessays.Row
      - data.tokyo.dates.each do | date |
        = partial("photoessays/components/day_card", locals: { date: date, essay_slug: current_page.data.slug})
