.Photo_main
  width: 79.5%
  padding: 0 10px
  margin-left: 10.94%
  +respond-to(small-down)
    width: 100%
    margin: 0 auto
    padding: 0
  img
    width: 100%
    vertical-align: middle

.PhotoCaption
  vertical-align: baseline
  line-height: 1.5
  padding: 20px 0 40px
  width: 46%
  margin-left: 27.35%
  +fluid-scale(font-size, 375px, 1040px, 12px, 14px)
