.navigation
  padding: 24px 0 23px
  list-style: none
  margin: 0
  li
    +fluid-scale(font-size, $responsive_min, $responsive_max, 12px, 15px)
    display: inline
    line-height: 2
    font-weight: 500
    letter-spacing: 0.1px
    +respond-to(small-down)
      letter-spacing: 0.3px
  li + li
    padding-left: 20px
    +respond-to(small-down)
      padding-left: 10px
    +respond-to(mobile)
      padding-left: 5px
  a
    text-decoration: none
    color: $navigation-link
    opacity: 1
    font-weight: normal
  li.current a
    opacity: 0.3

// todo: settle on a page naming convention :V
.page-blog li.navigation_blog a,
.page-photoessays li.navigation_photoessays a,
.body--talks li.navigation_talk a,
.body--talk li.navigation_talk a
  opacity: 0.3
