.PhotoEssaySubHeader
  padding: 20px 0
  border-top: 1px solid $color-black--transparent

  a
    color: inherit
    text-decoration: none

  .Menu
    float: right

  .DayItem
    padding: 10px 0
    &:not(:first-child)
      border-top: 1px solid rgba(0,0,0,0.05)
    span
      color: $color-black--half
      padding-right: 10px
