.Article_title
  margin-bottom: 0
  +fluid-scale(font-size, 375px, 1040px, 31px, 48px)
  a
    color: inherit
    text-decoration: none

.Article_metadata
  +uppercase
  color: $content-tertiary
  +fluid-scale(font-size, 375px, 1040px, 13px, 16px)

.Article_heading
  margin-bottom: $base-spacing-unit

.Article_content
  p
    +fluid-scale(font-size, 375px, 1040px, 15px, 17px)
    line-height: 1.4
  .read-more
    text-decoration: none
    color: #06C
    border-bottom: 1px solid $content-link_underline--invisible
    transition: 0.2s ease
    &:hover
      border-bottom: 1px solid $content-link_underline

.ArticleBreadcrumb
  a
    text-decoration: none
    color: inherit

.Article + .Article
  margin-top: $base-spacing-unit * 2
