.PhotoRow--thirds
  float: left
  img
    width: 100%

.PhotoRow--thirds_0
  width: 27%
  padding: 0 10px 0 0
  +respond-to(small-down)
  padding: 0 2px 0 0

.PhotoRow--thirds_1
  padding: 0 10px
  width: 46%
  +respond-to(small-down)
    padding: 0 2px

.PhotoRow--thirds_2
  padding: 0 0 0 10px
  width: 26%
  +respond-to(small-down)
    padding: 0 0 0 2px
