.Photo_main,
.Photo_hero
  img
    width: 100%
    vertical-align: middle

.Photo_main
  width: 79.5%
  padding: 0 10px
  margin-left: 10.94%
  +respond-to(small-down)
    width: 100%
    margin: 0 auto
    padding: 0

.Photo_hero
  width: 100%
  margin: 0
  padding: 0

.PhotoCaption
  vertical-align: baseline
  line-height: 1.5
  padding: 20px 0 40px
  max-width: 760px
  margin: 0 auto
  +fluid-scale(width, $responsive_min, $responsive_max, 96%, 67%)
  +fluid-scale(font-size, $responsive_min, $responsive_max, 12px, 14px)
  a
    color: #06C
    text-decoration: none
    border-bottom: 1px solid $content-link_underline
    transition: 0.2s ease
    &:hover
      border-bottom: 1px solid $content-link_underline--hover

.PhotoRow--full
  .PhotoCaption
    padding-bottom: 0

.Photo--1_of_1
  width: 100%
