html
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility

*
  box-sizing: border-box

hr
  border: 0 none
  height: 1px
  background: $content-divider
  margin: 0
  padding: 0

.Footer
  +fluid-scale(padding-top, $responsive_min, $responsive_max, 20px, 80px)
  text-align: center
