.Content
  max-width: 1060px
  margin-left: auto
  margin-right: auto
  padding-left: 10px
  padding-right: 10px

.Content_row
  margin-left: -10px
  margin-right: -10px
  +clearfix

.page-blog .Fullbleed_image
  margin-left: -10px
  margin-right: -10px
  margin-bottom: $base-spacing-unit
  img
    vertical-align: middle
    width: 100%

.Content_sidebar,
.Content_primary,
.Content_main
  padding-left: 10px
  padding-right: 10px

.Content_sidebar
  width: 27.7%
  float: left
  +respond-to(small-down)
    width: 24%

.Content_primary
  width: 72.3%
  float: right
  +respond-to(small-down)
    width: 76%

.Content > .Content_row > .Content_main
  width: 60%
  float: left
  margin-left: 27.7%
  +respond-to(small-down)
    margin-left: 24%
    width: 76%

.Content > .Content_row > .Content_photoessays,
.Content > .Content_row > .Content_photoessayHeader
  margin-left: 10.28%
  +respond-to(small-down)
    margin-left: 5.14%

.Content_sidebar p
  +fluid-scale(font-size, 375px, 1040px, 11px, 16px)

.Content_footer
  margin-top: $base-spacing-unit * 2

.hero_image,
.aside_image
  width: 100%

.name
  +fluid-scale(font-size, 375px, 1040px, 16px, 24px)
  font-family: $font_headline
  line-height: 30px
  padding: $base-spacing-unit 0
  margin-bottom: 0
  a
    color: inherit
    text-decoration: none

.tagline
  +fluid-scale(font-size, 375px, 1040px, 16px, 24px)
  line-height: 1.3
