// Fonts
$font_work: 'Work Sans', 'WorkSans-ExtraBold', 'WorkSans', sans-serif
$font_karla: 'Karla', sans-serif

$font_headline: $font_work
$font_body: $font_karla

=font_headline
  font-family: $font_headline
  font-weight: 800
