@function strip-unit($value)
  @return $value / ($value * 0 + 1)

=font-size($font-size, $line-height: auto)
  font-size: $font-size
  font-size: ($font-size / $base-font-size) * 1rem

  @if $line-height == auto
    line-height: ceil($font-size / $base-line-height) * ($base-line-height / $font-size)

  @else
    @if (type-of($line-height) == number or $line-height == inherit or $line-height == normal)
      line-height: $line-height

    @elseif ($line-height != none and $line-height != false) {
      @warn "D’oh! ‘#{$line-height}’ is not a valid value for `line-height`."

=fluid-scale($properties, $min-vw, $max-vw, $min-value, $max-value)
  @each $property in $properties
    #{$property}: $min-value

  @media screen and (min-width: $min-vw)
    @each $property in $properties
      #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})

  @media screen and (min-width: $max-vw)
    @each $property in $properties
      #{$property}: $max-value

=clearfix
  &::after
    clear: both
    content: ""
    display: table

=uppercase
  text-transform: uppercase
  letter-spacing: 1px
