= wrap_layout :layout do
  .Content.Content--margins
    .Content_row
      .Content_main
        .Article
          .Article_heading
            %h1.Article_title= current_article.title
            %p.Article_metadata= Date.parse(current_article.date.to_s).strftime('%B %e, %Y')
    = yield
