.PhotoEssaySubHeader
  .Content.Content--fluid
    .Row
      .SubHeader_Main
        .LinkBreadCrumbs
          #{link_to 'Photoessays', '/photoessays/', class: 'BreadCrumb_Header'}
          .BreadCrumb_Header
