.Row
  .Content_Headline.pb3
    %h1 Photoessays

    %ul.sub_navigation.pt2
      %li{nav_active("photoessays.html")}= link_to "All", "/photoessays"
      %li{nav_active("collections.html")}= link_to "Collections", "/photoessays/collections"
