---
  title: Mixin 2016
  body_classes: page-photoessays
  meta_description: A growing collection of photoessays from my travels and experiences…
  meta_keywords:
  ogp:
    og:
      title: 'Photoessays'
      description: 'A growing collection of photoessays from my travels and experiences…'
      image:
        '': http://brett.cool/images/og.jpg
        type: image/jpg
        width: 560
        height: 300
    fb:
      title: 'Photoessays'
      description: 'A growing collection of photoessays from my travels and experiences…'
      image:
        '': http://brett.cool/images/og/fb.jpg
        type: image/jpg
        width: 600
        height: 315
  days:
    first: 'hello'
---
