.Post
  .Row.pb3
    .Content_Main
      %h2.h1_scale= link_to article.title, article
      .Article_metadata
        %span.metadata_date= Date.parse(article.date.to_s).strftime('%b %e, %Y')

  = article.body
