---
  title: Las Vegas
  slug: '2013/las-vegas'
  subtitle: Enourmous man-made structures in the middle of the desert... Why not?
  body_classes: page-photoessays
  meta_description: Enourmous man-made structures in the middle of the desert... Why not?
  meta_keywords:
  ogp:
    og:
      title: Las Vegas
      description: Enourmous man-made structures in the middle of the desert... Why not?
      image:
        '': http://brett.cool/images/photoessays/mixin-2016/og.jpg
        type: image/jpg
        width: 560
        height: 300
    fb:
      title: Las Vegas
      description: Enourmous man-made structures in the middle of the desert... Why not?
      image:
        '': http://brett.cool/images/photoessays/mixin-2016/fb.jpg
        type: image/jpg
        width: 600
        height: 315
---

= partial("/photoessays/components/banner", locals: {slug: current_page.data.slug, title: current_page.data.title, 'subtitle': current_page.data.subtitle})
