---
  title: Los Angeles
  slug: '2013/los-angeles'
  subtitle: Hollywood, amusement parks, burritos, and more...
  body_classes: page-photoessays
  meta_description: Hollywood, amusement parks, burritos, and more...
  meta_keywords:
  ogp:
    og:
      title: Los Angeles
      description: Hollywood, amusement parks, burritos, and more...
      image:
        '': http://brett.cool/images/photoessays/2013/los-angeles/og.jpg
        type: image/jpg
        width: 560
        height: 300
    fb:
      title: Los Angeles
      description: Hollywood, amusement parks, burritos, and more...
      image:
        '': http://brett.cool/images/photoessays/2013/los-angeles/fb.jpg
        type: image/jpg
        width: 600
        height: 315
---

= partial("/photoessays/components/banner", locals: {slug: current_page.data.slug, title: current_page.data.title, 'subtitle': current_page.data.subtitle})
