---
  title: San Francisco
  slug: '2013/san-francisco'
  subtitle: Our first stop, fresh off a plane from Auckland.
  body_classes: page-photoessays
  meta_description: Our first stop, fresh off a plane from Auckland.
  meta_keywords:
  ogp:
    og:
      title: San Francisco
      description: Our first stop, fresh off a plane from Auckland.
      image:
        '': http://brett.cool/images/photoessays/2013/san-francisco/og.jpg
        type: image/jpg
        width: 560
        height: 300
    fb:
      title: San Francisco
      description: Our first stop, fresh off a plane from Auckland.
      image:
        '': http://brett.cool/images/photoessays/2013/san-francisco/fb.jpg
        type: image/jpg
        width: 600
        height: 315
---

= partial("/photoessays/components/banner", locals: {slug: current_page.data.slug, title: current_page.data.title, 'subtitle': current_page.data.subtitle})
