---
title: Hello, World
date: 2016-11-03 00:01 UTC
author: Brett Jones
author_slug: brett
body_classes: page-blog
ogp:
  og:
    title: 'Hello World'
    description: 'Because you can’t have a blog without any blog posts.'
    image:
      '': http://brett.cool/images/blog/2016-11-03-hello-world/og.png
      type: image/png
      width: 560
      height: 300
    locale:
      '': en_us
  fb:
    title: 'Hello World'
    description: 'Because you can’t have a blog without any blog posts.'
    image:
      '': http://brett.cool/images/blog/2016-11-03-hello-world/fb.png
      type: image/png
      width: 600
      height: 315
---

:markdown
  Because you can’t have a blog without any blog posts.
