---
title: America trip photoessays
meta_description: Five years ago today, some good friends of mine and I traveled around America, traveling from San Francisco to New York over the course of 3½ weeks...
date: 2018/07/23
body_classes: page-blog
---

<%- @og_image_override = 'blog/2018-07-23-america-photoessays' %>

There’s a bit of a five year theme going on with me right now, isn’t there?

Five years ago today[^1], some good friends of mine and I traveled around America, traveling from San Francisco to New York over the course of 3½ weeks. It was an unforgettable experience.

When the recent [five year milestone](/blog/five-years) of working at Pin&nbsp;Payments arrived, I realised the five year mark for our America trip wasn’t far away.

Since then, I’ve been working hard to finish putting together a collection of Photoessays to chronicle our time spent there.

<%= link_to image_tag('blog/2018-07-23-america-photoessays/collection.jpg', class: 'blog_img'), '/photoessays/collections/america', class: 'browser_frame mt3 mb3', data: {url: 'brett.cool/photoessays/collections/america'} %>

I’ve been working on this Photoessay gear in various incarnations for a few years now. I’d already completed the San Francisco and Los Angeles Photoessays, but the arbitrary 5 year anniversary provided good motivation to get the other six done in record time.

I had a bit of extra time, and so had some fun experimenting with ways to visualise the trip — taking a lot of inspiration <a href="https://gyrosco.pe/" target="_blank">from Gyroscope</a> for the timeline based design used on the collections view. I also had some fun designing layouts optimised for Instagram on mobile, and learned some valuable processes along the way.

I also have some key takeaways.

<%= image_tag 'blog/2018-07-23-america-photoessays/artwork.jpg', class: 'blog_img mt3 mb3' %>

## Arbitrary deadlines provide focus

The list of things I want to do is—and probably always will be—longer than the finite time I have to work with. I’ve been wanting to finish the America Photoessays for a couple of years now; before memories fade with time.

But there was never any burning priority in my day-to-day routine. A little self–imposed deadline really helps focus me on what needs to be done, and what can wait.

## Done is better than perfect

It’s fine to be a perfectionist, but it can sometimes be difficult to push through, or demoralising, if not kept in check.

I had a few ideas I really wanted to include, but couldn’t make for the self-imposed deadline. The way I carved up the work means I can (and hopefully will) add some of these features down the track[^2]. In the meantime, I was able to meet my deadline.

That’s hugely motivating. I feel far better having shipped, with the optimism of being able to improve down the track, than missing the deadline and losing motivation.

I may write up a little more on the building of the Photoessays and collection view at a later date — there’s a lot of fun stuff I learned!

[^1]:
  We arrived in San Francisco around 12:15pm on Monday 22 July, 2013. San Francisco is 15 hours behind Perth (it was around 3am on July 23rd in Perth when we landed).

  Timezones caused a little confusion throughout the process for me; as I had to reconcile timestamps on photos with the timezone they were taken in.

[^2]:
  Better navigation between sequential Photoessays, a collection index that is actually designed, and an inline collection browser are just three of the main UI improvements I’m wanting to include.
