---
title: On the past five years
date: 2018-06-18 00:01 UTC
author: Brett Jones
author_slug: brett
body_classes: page-blog
ogp:
  og:
    title: On the past five years
    description: 'My perception of the flow of time is peculiar. It stretches, and contracts. It crawls one moment, and leaps the next...'
    image:
      '': http://brett.cool/images/blog/2018-06-18-five-years/og.jpg
      type: image/jpg
      width: 560
      height: 300
    locale:
      '': en_us
  twitter:
    card: 'summary_large_image'
    label1: 'Reading Time 🕖'
    data1: 'About 6 minutes'
    label2: 'Published 📅'
    data2: 'June 18, 2018'
  fb:
    title: On the past five years
    description: 'My perception of the flow of time is peculiar. It stretches, and contracts. It crawls one moment, and leaps the next...'
    image:
      '': http://brett.cool/images/blog/2018-06-18-five-years/fb.jpg
      type: image/jpg
      width: 600
      height: 315
---

.Row
  .Content_Main.Content_Article
    :markdown
      <p>My perception of the flow of time is peculiar. It stretches, and contracts. It crawls one moment, and leaps the next. This is by no means a profound observation, but I can’t help but feel a very visceral sensation, as I reflect on the passage of time.</p>

      <p>I’ve been musing about what interval of time is most useful for reflection<sup><a href="#fn1-491" id="fnr1-491" title="see footnote" class="footnote">1</a></sup>. Something between the granularity of days — where each tends to blur together and feel indistinct — and years — where subtle changes between the weeks and months are suddenly thrown into sharp relief, and magnified. Life and change happens in the midst of it all.</p>

      <p>The changing of seasons. Biannual dentist checkups and car services. 6–12 month lease renewals<sup><a href="#fn2-491" id="fnr2-491" title="see footnote" class="footnote">2</a></sup>. These are some of the yardsticks I’ve found myself considering intervals of time in, as I make sense of the constant change flowing through life. Today, a new milestone came up unexpectedly, which has caused me to spend much of the day reflecting.</p>

      <p>Today marks five years since I joined Pin Payments<sup><a href="#fn3-491" id="fnr3-491" title="see footnote" class="footnote">3</a></sup>. It’s hard to believe, yet those memories of my first week, back in our Leederville office, do feel like a suitably–distant time ago.</p>

      <p>I was 22. I had a three year bachelor degree education, and a couple of years of work experience under my belt at a previous job, which I was very much ready to move on from<sup><a href="#fn4-491" id="fnr4-491" title="see footnote" class="footnote">4</a></sup>. At the time, moving to a start-up did not feel like a risky proposition. Five years later, I’m glad I had the chance, and took the risk.</p>

      <p>Now at 27, I can’t help but feel — with ever–increasing frequency — like life is flashing before my eyes. But when I look back, and consider all that has happened in that time, I do feel a sense of growth and change, that balances the bittersweet poignancy.</p>

      <p>Shortly after starting at Pin Payments in 2013, I took a month off to <a href="https://brett.cool/photoessays/2013/san-francisco/">travel around America</a> with some friends from high school. I returned to Perth in late August, and resumed work. Later that year, I’d attend my first conference with the rest of the Perth Pin Payments office; <a href="http://www.webdirections.org/wds13/">Web Directions South 2013</a>, in Sydney.</p>

      <p>In 2014 our small office moved to Northbridge, and continued to grow. Over the Easter long weekend, some friends and I <a href="http://carpoolcrew.co">restarted Carpool</a>; a comedy video group we originally started way back in high school. I then attended <a href="http://2014.cssconf.com.au/">the first CSS Conf Australia</a> in Melbourne. A few months later, I’d travel to Singapore with some of our office and meet fellow web folk at <a href="https://rdrc2014.herokuapp.com/">Red Dot Ruby Conf 2014</a>. </p>

      <p>In mid 2014 I moved out, and promptly discover the value of being able to drive<sup><a href="#fn5-491" id="fnr5-491" title="see footnote" class="footnote">5</a></sup>, and finally started the long–overdue process of getting my license. Towards the end of the year, I started to actively attend the Fenders Perth meetup, and conferences.</p>

      <p>In 2015, I attended the second <a href="http://2015.cssconf.com.au/">CSS Conf Australia</a>, along with other Perth web folk. This would be the catalyst that motivated some of us in Perth to organise the inaugural <a href="http://mixinconf.com">Mixin</a> conference for the following year. The majority of this year was spent working on getting my car and license, filming videos with Carpool, and attending meet–ups and conferences, such as Web Directions South.</p>

      <p>In 2016, our office again moved — this time, from Northbridge to the Perth CBD in mid January. Barely a month later, I moved in to a nearby apartment with a friend, which cut my daily commute from 45 minutes to 15. A lot of gatherings would be hosted at ours, and we became locals at our favourite pub. It felt like 2016 may just last forever. Perhaps most notably, the inaugural <a href="http://mixinconf.com">Mixin</a> conference was hosted in late October at the State Theatre Centre. It was a lot of hard work from the organising team, and it was <a href="https://brett.cool/photoessays/mixin-2016/">immensely gratifying to see it through successfully</a>.</p>

      <p>In January of 2017, I traveled to Tokyo and Kyoto. Beautiful and awe–inspiring, and I was determined to return soon. In February — through a set of very lucky coincidences that in hindsight, stress me out — I met my partner, who I feel tremendously grateful to have shared my life since with. In June, I had the privilege of speaking at meet ups around the country with <a href="https://brett.cool/photoessays/2017/localhost/">Localhost’s Deployment Tour</a>, alongside some very talented speakers from Melbourne, Brisbane, and Sydney. And towards the end of the year, I found a place by myself. I’m still getting used to the whole living by myself thing.</p>

      <p>And as I reflect now, somehow we’re almost halfway through 2018. The highlight of my year so far was the time my partner and I spent in Tokyo for our first anniversary — it was a wonderful whirlwind trip, full of memories that will be with me for the rest of my life. I also traveled to Melbourne in January for work, and again with my partner in mid–April for an impromptu long weekend.</p>

      <p>Over the past year, my personal life has been full of life-admin and change, with two house moves since last October. I’ve noticed that my attention for certain pursuits has dipped in that time. It’s difficult to find an equilibrium, with so many things I want to do, but I believe as it ebbs and flows, I’ll find that balance.</p>

      <p>And in the meantime, I’m content in the change, and more than happy to cultivate aspects of life that had hitherto been neglected.</p>

      <p>I cannot imagine what the next five years hold.</p>

      <hr/>
      <div class="footnotes">

        <ol>

          <li id="fn1-491">
          <p>The obvious, anticlimactic answer is: there is no such thing. Everything in life changes at different rates, and the interval of time appropriate to reflect on any change varies, accordingly. <a href="#fnr1-491" title="return to article" class="reversefootnote">&#8617;&#xFE0E;</a></p>
          </li>

          <li id="fn2-491">
          <p>When I moved to an apartment near the city in 2016 with a friend, there was a window of time which felt timeless, where I naïvely felt as though I may just stay 25 there forever, even if our lease was extended out indefinitely. <a href="#fnr2-491" title="return to article" class="reversefootnote">&#8617;&#xFE0E;</a></p>
          </li>

          <li id="fn3-491">
          <p>I started on Monday, June 17th, 2013. <a href="https://twitter.com/gbissett/status/346446451003490305">Grant tweeted about it the day prior</a> <a href="#fnr3-491" title="return to article" class="reversefootnote">&#8617;&#xFE0E;</a></p>
          </li>

          <li id="fn4-491">
          <p>My then–development manager, and mentor had just left, and I had no confidence in my continued ability to grow, and cultivate my skills there. <a href="#fnr4-491" title="return to article" class="reversefootnote">&#8617;&#xFE0E;</a></p>
          </li>

          <li id="fn5-491">
          <p>Perth is the kind of urban sprawl where, if you’re out in the suburbs, you really need a car and a good 20–30 minutes to get anywhere. <a href="#fnr5-491" title="return to article" class="reversefootnote">&#8617;&#xFE0E;</a></p>
          </li>

        </ol>
      </div>

  :sass
    sup a
      opacity: 0.5
      &:hover
        opacity: 1
    .footnotes
      ol
        padding-left: 20px
      li + li
        margin-top: 1.3em
      li, p
        font-size: 0.9em
        line-height: 1.3
