---
title: Japan—2 weeks in 2 minutes
date: 2019/03/25
type: video
meta_description: Back in February, we visited Japan for 2 weeks, traveling through Osaka, Kyoto, and Tokyo. Here are some of our highlights!
body_classes: page-blog
tags: personal, travel
---

<div style="padding:42.29% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/318397885?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
