---
title: Metroid Prime OST Synth Patches discovered
date: 2019/08/26
type: link
url: https://www.youtube.com/watch?v=JlShEmFvyqo
meta_description: Electronic producer SynaMax has uncovered a number of the patches used by musician Kenji Kamamoto in the Metroid Prime Trilogy soundtracks.
tags: videogames, music, nintendo, metroid
body_classes: page-blog
---

Electronic producer [SynaMax][bandcamp] has uncovered a number of EMU Proteus 2000 and Korg MS2000 patches used by musician [Kenji Kamamoto][yamamoto] in the Metroid Prime Trilogy soundtracks:

<div data-aspect-ratio="16:9" style="margin: 1.5em 0; border-radius: 3px; overflow: hidden; box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 2px 8px rgba(0,0,0,0.2);">
  <iframe src="https://www.youtube-nocookie.com/embed/JlShEmFvyqo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

> Here’s a list of the EMU Proteus 2000 patches that I’ve found so far in Metroid Prime.  There’s a few more known patches that are used, but I’ll include them in a future video.  There’s also a bunch of sounds that are still unidentified so if you can figure out a patch or sample, please let me know.

Since this first video, he has posted [three][part2] [follow-up][part3] [videos][part4] tracking down more patches, and even [recreated][temple grounds] [several][agon wastes] [tracks][torvus bog] using these patches.

The Metroid Prime trilogy represent some of my favourite games[^1], they have such a distint *style*, both visually and aurally. 

It’s fascinating to get a behind–the–scenes look at the origin of some of the iconic beats and melodies, produced some 17 years ago.

[^1]: The original Metroid Prime is my favourite game of all time. It was a watershed moment for me. The signature Metroid atmosphere—and sense of exploration and isolation—beautifully realised in 3D. It had such a cohesive style—from sound design to [UI Design]. It was ahead of its time.

[bandcamp]: https://synamax.bandcamp.com/ "Synamax on Bandcamp"
[yamamoto]: https://en.wikipedia.org/wiki/Kenji_Yamamoto_(composer_born_1964)
[part2]: https://www.youtube.com/watch?v=1InzGMbCERo "14 More Synth Patches used in Metroid Prime [Part 2]"
[part3]: https://www.youtube.com/watch?v=NnCKFommDVU "The Hip Hop Sample CD used in Metroid Prime [Part 3]"
[part4]: https://www.youtube.com/watch?v=fzz0JYoupmw "14 More Synth Patches used in Metroid Prime [Part 4]"
[temple grounds]: https://www.youtube.com/watch?v=aE7-UCgwjT4 "Metroid Prime 2 - Temple Grounds Music Recreation"
[agon wastes]: https://www.youtube.com/watch?v=yGs1EedxcXQ "Metroid Prime 2 - Agon Wastes Music Recreation"
[torvus bog]: https://www.youtube.com/watch?v=vNmprgh2WZA "Torvus Bog (Recreated in FL Studio!)"
[UI Design]: https://metroid.fandom.com/wiki/Heads-Up_Display
