---
  title: Blog
  body_classes: blog
  meta_description: Occasional blog posts
  meta_keywords: Design, development, blog
---

.Page
  .Content
    - page_articles.each do | article |
      = partial("layouts/summaries/#{article.data.type}", locals: { article: article })
