---
  title: Brett Jones
  body_classes: home
  meta_description: Brett Jones is a designer and front end developer from Perth, WA
  meta_keywords:
---

%main{role: 'main'}
  %article
    %h1 Brett Jones
    %p Designer, front end developer
