---
  title: Photoessays
  body_classes: photoessays
  meta_description: A growing collection of photoessays from my travels and experiences…
  meta_keywords:
  ogp:
    og:
      title: 'Photoessays'
      description: 'A growing collection of photoessays from my travels and experiences…'
      image:
        '': http://brett.cool/images/og.jpg
        type: image/jpg
        width: 560
        height: 300
    fb:
      title: 'Photoessays'
      description: 'A growing collection of photoessays from my travels and experiences…'
      image:
        '': http://brett.cool/images/og/fb.jpg
        type: image/jpg
        width: 600
        height: 315
---


.Content
  .Content_row
    .Content_main
      %p.tagline A growing collection of photoessays from my travels and other experiences…

  .Content_row
    .Content_photoessays
      - data.photoessays.each do | photoessay |
        = partial("photoessays/components/card", locals: { photoessay: photoessay})
