---
  title: Photoessays
  body_classes: photoessays
  meta_description: A collection of photoessays, from travels, conferences, and experiences…
  meta_keywords:
  ogp:
    og:
      title: 'Photoessays'
      description: 'A collection of photoessays, from travels, conferences, and experiences…'
      image:
        '': http://brett.cool/images/og.jpg
        type: image/jpg
        width: 560
        height: 300
    fb:
      title: 'Photoessays'
      description: 'A collection of photoessays, from travels, conferences, and experiences…'
      image:
        '': http://brett.cool/images/og/fb.jpg
        type: image/jpg
        width: 600
        height: 315
---


.Content
  .Content_row
    .Content_main
      %h1 Photoessays
      %p.tagline A collection of photoessays, from travels, conferences, and other experiences…

  - data.photoessays.each do | photoessays |
    .Content_row
      .Content_main
        %h2= photoessays.year
    .Content_row
      .Content_photoessays
        - photoessays.photoessays.each do | photoessay |
          = partial("photoessays/components/card", locals: { photoessay: photoessay})
