---
  title: Photoessays
  body_classes: photoessays
  meta_description: A collection of photoessays, from travels, conferences, and experiences…
  meta_keywords: Photography, travel, photoessays
---

.Page
  .Content
    .Row
      .Content_Headline.pb3
        %h1 Photoessays

    - data.photoessays.each do | photoessays |
      .Content_photoessays.Row
        - photoessays.photoessays.each do | photoessay |
          = partial("photoessays/components/card", locals: { photoessay: photoessay})
